<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.Tidbyt.SG_Data</string>
    <!-- locations of python module and tidbyt app -->
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/3.11/bin/python3</string>
        <string>/Applications/Tidbyt/SG_Data.py</string>
    </array>
    <!-- environment variables needed by the script -->
    <key>EnvironmentVariables</key>
    <dict>
        <key>TIDBYT_SG_API_KEY</key>
        <string>YOUR_SG_API_KEY</string>
        <key>SHOTGUN_URL</key>
        <string>YOUR_SHOTGUN_URL</string>
        <key>TIDBYT_DEVICE_NAME</key>
        <string>YOUR_DEVICE_NAME</string>
    </dict>
    <!-- this is how often the .webp gets pushed to the tidbyt -->
    <key>StartInterval</key>
    <integer>30</integer>
    <key>StandardOutPath</key>
    <string>/Applications/Tidbyt/com.Tidbyt.SG_Data.out</string>
    <key>StandardErrorPath</key>
    <string>/Applications/Tidbyt/com.Tidbyt.SG_Data.err</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
